<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Our Father's Project" %></title>
<%= render "/layouts/head/shim" %>
<link href="http://fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= render "/layouts/head/google_analytics" if Rails.env == "production" %>
<%= render "/layouts/head/block_robots" if Rails.env != "production" %>
<%= render "/layouts/head/favicons" %>
<%= csrf_meta_tags %>
