<header>
  <div class="row">
    <div class="four columns">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo_small.png", alt: "Our Father's Project" %>
        <% end %>
      </div>
    </div>
    <div class="eight columns">
      <div id="global-menu">
        <a href="#global">Menu</a>
      </div>

      <div id="global">
        <ul class="nav-bar">
          <li class="<%= nav_class :home, @current_section %>">
            <%= link_to "Home", root_path %>
          </li>
          <li class="<%= nav_class :the_project, @current_section %>">
            <%= link_to "The Project", the_project_path  %>
          </li>
          <li class="<%= nav_class :about, @current_section %>">
            <%= link_to "About Us", about_path  %>
          </li>
          <li class="<%= nav_class :contact, @current_section %>">
            <%= link_to "Contact Us", contact_path  %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
